.okok{
  text-decoration: underline;
  background-color: purple;
}
.hide{
  display: none;
  text-transform: uppercase;
  background-color: red;
}
.one{
  background-color: red;
}
.right{
  float:right;
  background-color: red;
}
.redbutton{
  background-color: green;
}
.div{
  background-color: blue;
}
.okokok{
  background-color: #FFB6C1
}
button{
  background-color: red;
}
h1,h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
